<%- include("partials/header.ejs") %>


<div class="container marketing">
<div class="row featurette">
    <hr class="featurette-divider">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Antes de começar o trabalho, cheque os vídeos demonstrativos!</h2>
      <h3 class="lead">O cadastro dos produtos é feito a partir de um simples formulário, onde preenchemos com os seguintes dados: </h3>
      <ul>
        <li>Lote;</li>
        <li>Nome do produto;</li>
        <li>Data de validade;</li>
        <li>Categoria.</li>
      </ul>
    </div>
    <div class="col-md-5">
      <video width="500" height="500" controls>
        <source src="/videos/cadastro.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </div>
  </div>

  <hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Como realizar a consulta dos produtos cadastrados?</h2>
      <p class="lead">Na página de consulta, serão visíveis todos os produtos antes cadastrados, e será possível realizar a filtragem da consulta a partir dos seguintes parâmetros:</p>
      <ul>
        <li>Retirada: Produtos que estão há 1 mês ou menos do vencimento; </li>
        <li>Desconto: Produtos que estão há 4 meses ou menos do vencimento </li>
        (Alimentos recebem desconto há 3 meses do vencimentos);
        <li>Vencidos: Produtos que passaram da validade;</li>
      </ul>
    </div>
    <div class="col-md-5 order-md-1">
      <video width="500" height="500" controls>
        <source src="/videos/consulta.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Caso seja necessário, como apagar os produtos registrados no meu sistema?</h2>
      <p class="lead">Basta realizar a consulta de maneira semelhante à que foi demonstrada anteriormente, com a diferença de que é possível apagar registros de lotes específicos, 
        e caso seja necessário apagar todos os registros de uma categoria, é necessário deixar o campo "lote" vazio.</p>
    </div>
    <div class="col-md-5">
      <video width="500" height="500" controls>
        <source src="/videos/apagar.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </div>
    <hr class="featurette-divider">
  </div>
</div>

<%- include("partials/footer.ejs") %>



